<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recette</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid d-flex justify-content-center">
            <span class="navbar-brand mb-0 h1">Les recettes du chef</span>
        </div>
    </nav>
    <div class="container">
        <h5 th:text="${recette.titre}" class="mt-4 mb-2"></h5>
        <hr>

        <p><strong>Temps de préparation : </strong><span th:text="${recette.tempsPreparation}"></span></p>
        <p><strong>Ingrédients : </strong><span th:text="${recette.ingredients}"></span></p>
        <p><strong>Etapes : </strong><span th:text="${recette.etapesPreparation}"></span></p>
        <br>
        <hr>
        <p>
            <a href="/recettes" class="btn btn-outline-secondary" role="button">Home</a>
            <a th:href="@{'/edit/' + ${recette.id}}" class="btn btn-outline-warning" role="button">Editer</a>
            <a th:href="@{'/delete/' + ${recette.id}}" class="btn btn-outline-danger" role="button">Supprimer</a>
        </p>
    </div>
</body>
</html>
