<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recettes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid d-flex justify-content-center">
                <span class="navbar-brand mb-0 h1">Les recettes du chef</span>
            </div>
        </nav>
        <div class="container">
            <h5 class="mt-4 mb-2">Toutes les recettes</h5>
            <hr>
            <ul th:each="recette : ${recettes}">
                <li><a th:href="@{'/recette/' + ${recette.id}}" th:text="${recette.titre}"></a></li>
            </ul>
            <hr>

            <p><a class="btn btn-outline-primary" href="/ajouter" role="button">Ajouter une recette</a></p>
        </div>
    </body>
</html>

